@model IEnumerable<Product>
@{
    int count = 0;
}

@foreach (Product product in Model)
{
    count++;
    <tr>
        <th>@count</th>
        <td>@product.Title</td>
        <td>@product.Price</td>
        <td>@product.DiscountPrice</td>
        <td>
            <a asp-action="Detail" asp-route-id="@product.Id" class="btn btn-success">Detail</a>
            <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
            <a asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger" id="deletefilesweet">Delete</a>
        </td>
    </tr>
}